<app-menu></app-menu>
<div class="container" *ngIf="!loading">
  <h1 class="text-center">VISUALIZAR CAFÉ <span><img src="../../../assets/imagens/1046836.png" width="45px"></span></h1>
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" value="{{cafe.nome}}" readonly name="nome">
    </div>
    <div class="form-group">
      <label for="preco">Preço</label>
      <input type="number" class="form-control" id="preco" value="{{cafe.preco}}" readonly name="preco">
    </div>
    <div class="form-group">
      <label for="quantidade">Quantidade</label>
      <input type="number" class="form-control" id="quantidade" value="{{cafe.quantidade}}" readonly name="quantidade">
    </div>
    <div class="form-group">
      <label for="categoria_id">Categoria</label>
      <input type="number" class="form-control" id="categoria_id" value="{{cafe.categoria_id}}" readonly name="categoria_id">
    </div>
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea class="form-control" id="descricao" value="{{cafe.descricao}}" name="descricao}}" readonly rows="3"></textarea>
    </div> 
    <div id="total"><p>Total: R$ {{cafe.preco * total}}</p></div>
    <app-botao-output [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></app-botao-output>
</div>