<app-menu></app-menu>
<div class="container" *ngIf="!loading">
  <h1 class="text-center">EDITAR CAFÉ <span><img src="../../../assets/imagens/1046836.png" width="45px"></span></h1>
  <form (ngSubmit)="editarCafe()" #form="ngForm">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" required [(ngModel)]="cafe.nome" name="nome">
    </div>
    <div class="form-group">
      <label for="preco">Preço</label>
      <input type="number" class="form-control" id="preco" [(ngModel)]="cafe.preco" name="preco">
    </div>
    <div class="form-group">
      <label for="quantidade">Quantidade</label>
      <input type="number" class="form-control" id="quantidade" [(ngModel)]="cafe.quantidade" name="quantidade">
    </div>
    <div class="form-group">
      <label for="categoria_id">Categoria</label>
      <input type="number" class="form-control" id="categoria_id" [(ngModel)]="cafe.categoria_id" name="categoria_id">
      {{cafe.categoria_id}}
    </div>
    <div class="form-group">
      <label for="descricao">Descrição</label>
      <textarea class="form-control" id="descricao" [(ngModel)]="cafe.descricao" name="descricao" rows="3"></textarea>
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn text-center">Editar</button>
    </div>
  </form>
</div>